<% for(let i = 0; i < posts.length; i++) { %>
			<div class = site>
					<h1 class="place"><%= posts[i].place %></h1>
				<div class = dates
					<li class="dateTo"> From <%= posts[i].from %></li>
					<li class="dateFrom"> To <%= posts[i].to %></li>
				</div>
					<p class="description"><%= posts[i].description %></p>
					<a href="<%= posts[i].href%>">
						<img class="blogImage" src ="<%= posts[i].image %>">
					</a>
			</div>

			<%}%>
