
<div class= "Country-Info">

	<h1 class= "Flag-Header"><%=name%></h1>

	<ul>
		<li class="Flag-Info"><%=nativeName%></li>
		<li class="Flag-Info"><%=code%></li>
		<li class="Flag-Info"><%=population%></li>
		<li class="Flag-Info"><%=region%></li>
	</ul>


	<img class= "Flag" src="<%=flag%>">
</div>	
